<div class="navbar">
    <a href="/">
    <img src="/image/logo.png" alt="ipara" class="logo">
    </a>
    <div class="menu-button">
        <svg style="width:34px;height:34px" viewBox="0 0 24 24">
            <path fill="#fff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
    </div>
</div>

<div class="menu">
    <a href="/">3D Ödeme</a>
    <a href="/non-3d-payment">(Non-3D) Ödeme</a>
    <a href="/payment-inquiry">Ödeme Sorgulama</a>
    <a href="/bin-inquiry">Bin Sorgulama</a>
    <a href="/add-cart-to-wallet">Cüzdana Kart Ekle</a>
    <a href="/card-inquiry">Cüzdandaki Kartları Listele</a>
    <a href="/card-delete">Cüzdandaki Kartları Sil</a>
    <a href="/payment-with-wallet">Cüzdandaki Kart (Tek tıkla) ile Ödeme</a>
</div>