<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="wrapper">
        {{> navbar}}
        <div class="content">
            <div class="content-header">
                Sepet Bilgileri
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Kod</th>
                        <th>Adet</th>
                        <th>Birim Fiyatı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Telefon</td>
                        <td>TLF0001</td>
                        <td>1</td>
                        <td>50 TL</td>
                    </tr>
                    <tr>
                        <td>Bilgisayar</td>
                        <td>TLF0001</td>
                        <td>1</td>
                        <td>50 TL</td>
                    </tr>
                    <tr class="total">
                        <td>Toplam</td>
                        <td></td>
                        <td></td>
                        <td>100 TL</td>
                    </tr>
                </tbody>
            </table>
            <div class="content-header">
                Kargo Adresi Bilgileri
            </div>
            <div class="fielset">
                <label style="font-weight:bold;">Ad :</label> Murat<br>
                <label style="font-weight:bold;">Soyad :</label> Kaya <br>
                <label style="font-weight:bold;">Adres :</label> Mevlüt Pehlivan Mah. Multinet Plaza Şişli <br>
                <label style="font-weight:bold;">Posta Kodu :</label> 34782 <br>
                <label style="font-weight:bold;">Şehir :</label> İstanbul <br>
                <label style="font-weight:bold;">Ülke :</label> Türkiye <br>
                <label style="font-weight:bold;">Telefon Numarası:</label> 2123886600 <br>
            </div>
            <div class="content-header">
                Fatura Adresi Bilgileri
            </div>
            <div class="fielset">
                <label style="font-weight:bold;">Ad :</label> Murat<br>
                <label style="font-weight:bold;">Soyad :</label> Kaya<br>
                <label style="font-weight:bold;">Adres :</label> Mevlüt Pehlivan Mah. Multinet Plaza Şişli<br>
                <label style="font-weight:bold;">Posta Kodu :</label> 34782<br>
                <label style="font-weight:bold;">Şehir :</label> İstanbul<br>
                <label style="font-weight:bold;">Ülke :</label> Türkiye<br>
                <label style="font-weight:bold;">TC Kimlik Numarası :</label> 1234567890<br>
                <label style="font-weight:bold;">Telefon Numarası:</label> 2123886600<br>
                <label style="font-weight:bold;">Vergi Numarası :</label> 123456<br>
                <label style="font-weight:bold;">Vergi Dairesi Adı :</label> Kozyatağı<br>
                <label style="font-weight:bold;">Firma Adı:</label> iPara
            </div>
            <div class="content-header">
                Tek Tıkla Ödeme
            </div>
            <div class="form-area">
                <label>Kullanıcı Id:</label>
                <input name="userId" type="text" class="form-control" value="">
                <label>Kart Id:</label>
                <input name="cardId" type="text" class="form-control" value="">
                <select name="installment" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <button class="btn success" id="pay">3D ile Ödeme</button>
            </div>
            <pre id="result">

            </pre>
        </div>
    </div>
    <script src="/js/template.js"></script>
    <script src="/js/payment-with-wallet.js"></script>
</body>

</html>