<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="wrapper">
        {{> navbar}}
        <div class="content">
            <div class="content-header">
                {{status}}
            </div>
            <p>API üzerinden dönen sonuçlara aşağıdan ulaşabilirsiniz...</p>
            <pre>
                {{{results}}}
            </pre>
        </div>
    </div>
    <script src="/js/template.js"></script>
</body>

</html>